form {
  display:flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #ffff;
  width: 400px;
  padding: 10px;
  margin: 10px;
}

textarea {
  text-align: center;
  font-family: 'Gupter', serif;
  padding: 10px;
  margin: 10px;
}

select{
  text-align: center;
  font-family: 'Gupter', serif;
  padding: 10px;
  margin: 10px;
}
/* hover effect is applied to the drop down menu */
select:hover {
  background-color: lightcoral;
}

#form-area {
  display: flex;
  align-content: center;
  justify-content: center;

  
}

input {
  padding: 10px;
  margin: 10px;
}



body {
  display: grid;
  grid-gap: 10px;
  grid-auto-rows: 100px;
  background-color: #E8D3D1;
  align-content: center;
  justify-content: center;
  text-align: center;
}

h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: 'Gupter', serif;
}

h2 {
  font-family: 'Gupter', serif;
}

img{
  width: 400px;
  height: 350px;
  
  /* display: grid;
  grid-template-columns: 60px 60px; */
}

p {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 400px;
  font-family: 'Gupter', serif;
}


#cat-display {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  align-content: center;

  }

  @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
