html {
  background-color: #C3DCE8;;
}
.App {
  text-align: center;
}

form {
  display: grid;
  grid-gap: 10px;
  grid-auto-rows: 100px;
  align-content: center;
  justify-content: center;
  text-align: center;
  background-color: #257BF0;
  padding: 10px;
  margin: 10px;
}

input:hover {
  background-color: #C3DCE8;
}

#form-area {
  display: flex;
  align-content: center;
  justify-content: center;
}

#bookRes {
  display: grid;
  grid-gap: 2px;
  grid-auto-rows: 50px;
  align-content: center;
  justify-content: center;
  text-align: center;
}

input {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  font-family: 'Girassol', cursive;
  font-size: 24px;
  text-align: center;
  box-shadow: 4px 4px black;
}

.header {
  width:100%;
  height: 40%;
}
h1 {
  text-align: center;
  font-family: 'Girassol', cursive;
}

h2 {
  font-family: 'Girassol', cursive;
}

h4 {
  font-family: 'Girassol', cursive;
}

img {
  width: 400px;
  height: 350px;
}

p {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 400px;
  font-family: 'Girassol', cursive;
}

li {
  display: inline;
  list-style-type: none;
  text-decoration: none;
  padding: 15px;
}
  @media only screen and (max-width: 600px) {
    body {
      background-color: #C3DCE8;
    }
  }
